@model IQueryable<Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "_MoviesLayout";
}

<h2 class="bg-dark text-light p-2">Movies</h2>
@if (!Model.Any())
{
    <p class="table-info">All movies are rented</p>
}
else
{
    <table 	class="table table-bordered table-hover">
        <tr>
            <th>Movies</th>
            <th>Genre</th>
        </tr>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@Html.ActionLink(movie.Name,
                        "MovieDetail", 
                        "Movies", 
                        new {id = movie.Id})</td>
                <td>@movie.Genre.Name</td>
            </tr>
        }
    </table>
}

